.item {
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
}

.item:hover {
    background-color: blue;
}

#container {
    background: green;
    margin: auto;
    padding: 15px;
    display: flex;
    width: 1000px;    
    min-width: 0;
    min-height: 0;
    align-items: center;
    justify-content: center;
}

.row {
    min-width: 0;
    min-height: 0;
}

.click {
    margin: auto;
    padding: 15px;
    display: flex;
    width: 1000px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

