.item {
    border: 3px solid black;
    width: 2px;
    height: 2px;
    padding: 5px;
}

.item:hover {
    background-color: blue;
}

#container {
    background: white;
    margin: 8px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}