.item {
    border: 3px solid black;
    padding: 5px;
    flex-grow: 1;
    align-self: center;
}

.item:hover {
    background-color: blue;
}

#container {
    background: green;
    margin: 8px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 750px;
    height: 750px;
}